<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>Repository URL was copied! Paste the text field after Cydia is opened.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Secret</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Add My Repository</string>
			<key>action</key>
			<string>loveEmiri:</string>
			<key>icon</key>
			<string>Heart.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>ReederEnhancer</string>
</dict>
</plist>
