<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>ReederEnhancer.png</string>
		<key>label</key>
		<string>ReederEnhancer</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Format (Twitter, Facebook)</string>
			<key>footerText</key>
			<string>_TITLE_ : Title,  _SOURCE_ : Source  *Deprecation (App.net, Buffer, etc.) It does not work well if you do not make changes something after the share view is displayed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>default</key>
			<string>&quot;_TITLE_ | _SOURCE_&quot;</string>
			<key>placeholder</key>
			<string>&quot;_TITLE_ | _SOURCE_&quot;</string>
			<key>key</key>
			<string>Format</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>CaretMoveToTop</string>
			<key>label</key>
			<string>Caret move to top</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>Deprecation</string>
			<key>label</key>
			<string>* App.net, Buffer, etc.</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Format (Mail Link)</string>
			<key>footerText</key>
			<string>_TITLE_ : Title,  _SOURCE_ : Source, _URL_ : Link url</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>default</key>
			<string>[RSS] _TITLE_ | _SOURCE_</string>
			<key>placeholder</key>
			<string>[RSS] _TITLE_ | _SOURCE_</string>
			<key>key</key>
			<string>FormatSubject</string>
			<key>label</key>
			<string>Subject</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>default</key>
			<string>&quot;_TITLE_ | _SOURCE_&quot;&lt;br /&gt;&lt;br /&gt;_URL_</string>
			<key>placeholder</key>
			<string>&quot;_TITLE_ | _SOURCE_&quot;&lt;br /&gt;&lt;br /&gt;_URL_</string>
			<key>key</key>
			<string>FormatBody</string>
			<key>label</key>
			<string>Body</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>IsHTML</string>
			<key>label</key>
			<string>Enable HTML in the Body</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Disable &quot;Pull to Refresh&quot;</string>
			<key>footerText</key>
			<string>Prevents to be refresh all subscriptions by pulling.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>NoRefresh</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Ask to send</string>
			<key>footerText</key>
			<string>Display alerts when sending articles by swiping the article list. (Readability, Instapaper, Pocket, QUOTE.fm)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>AskToSend</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Add HatenaBookmark action</string>
			<key>footerText</key>
			<string>Caution: Replace the Message action.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>key</key>
			<string>IsHatena</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>Choice</string>
			<key>id</key>
			<string>Choice</string>
			<key>label</key>
			<string>Select client</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
			<key>validTitles</key>
			<array>
				<string>Internal</string>
				<string>HatenaBookmark.app (URL Scheme)</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>label</key>
			<string>Username</string>
			<key>key</key>
			<string>HatenaUsername</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>label</key>
			<string>Password</string>
			<key>key</key>
			<string>HatenaPassword</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.kindadev.ReederEnhancer</string>
			<key>label</key>
			<string>Default Comment</string>
			<key>default</key>
			<string>[Reeder]</string>
			<key>placeholder</key>
			<string>[Reeder]</string>
			<key>key</key>
			<string>DefaultComment</string>
			<key>PostNotification</key>
			<string>com.kindadev.ReederEnhancer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notification</string>
			<key>footerText</key>
			<string>PostNotification when finished images cache unless nothing target image. Please set from iOS default &quot;Notifications&quot; section after initial sync after installing tweak.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credit</string>
			<key>footerText</key>
			<string>ReederEnhancer - r-plus Licensed under the ISC License; Modified by @wa_kinchan</string>
		</dict>
	</array>
	<key>title</key>
	<string>ReederEnhancer</string>
</dict>
</plist>
