Package: com.kindadev.reederenhancer
Name: ReederEnhancer
Depends: mobilesubstrate
Version: 1.5.5
Architecture: iphoneos-arm
Description: Enhance the Reeder.app!
Maintainer: kinda
Author: kinda
Section: Tweaks
